* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c1917;
  color: #fafaf9;
  padding: 48px 64px;
}
#root {
  max-width: 1400px;
  margin: 0 auto;
}
.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 2px;
}
.logo img {
  width: 68px;
  height: 68px;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
}
.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}
.fact-form input,
.fact-form select {
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  padding: 16px;
  font-size: 18px;
  outline: none;
  width: 220px;
}
.fact-form input::placeholder {
  color: #a8a29e;
}
.fact-form input:first-child {
  flex-grow: 1;
}
.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin: 0 18px 0 8px;
}
.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: sans-serif;
  font-family: "Sono", sans-serif;
  background-color: #44403c;
  margin-bottom: 16px;
  padding: 16px 32px;
  margin-bottom: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.vote-btn {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}
.tag {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  padding: 3px 10px 0;
}

ul {
  list-style: none;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

.source {
  margin-left: 5px;
}

.source:link,
.source:visited {
  color:coral;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: purple;
}

.category {
  margin-bottom: 16px;
}

.btn {
  font-family: 'Coiny';
  text-transform: uppercase;
  line-height: 1;
  background-image: linear-gradient(140deg, #ef4444, #16a34a, #14b8a6, #3b82f6);
  font-size: 17px;
  padding: 16px 0 13px;
  border: none;
  transition: 0.3s;
  border-radius: 50px;
  cursor: pointer;
  color: inherit;
}
.btn:hover {
  transform: rotate(-2deg);
}
.btn-large {
  font-size: 28px;
  padding: 20px 25px;
}

.btn-all-category {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}
.vote-btn button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  padding: 6px 12px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.vote-btn button:hover {
  background-color: #292524;
}

.hidden {
  display: none;
}

@media (max-width: 1200px) {

  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
  
}

@media (max-width: 1000px) {

  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }  
}

@media (max-width: 900px) {

  .main {
    grid-template-columns: 1fr;
  }
  
}